*
{
    box-sizing: border-box;
}
.cardcont
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nacard
{
    height: 450px;
    width: 233px;

}
.nacard img
{
    height: 310px;
    width: 232px;
    border-radius: 15px 15px 0px 0px;
}
.nacard h4
{
    margin-left: 20px;
    font-size: larger;
    margin-top: 10px;
    color: rgb(254, 2, 2);
}
.nacard p
{
    text-align: justify;
    margin-top: 10px;
}
.nacard button
{
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
}